
deploy/database/mysql/data
deploy/database/mysql/logs
deploy/database/clickhouse/ch_logs
deploy/database/clickhouse/ch_data

*.env
*.log
.idea
*.test.*
test.*
source-code
mysql/data
mysql/logs
clickhouse
.vscode
*.class
*.go.mod
*.go.sum
*.venv
